@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #004aad;
  --iglagreen: #ceeba3;
  --base-color: #2ebb79;
  --blue: #004aad;
  --dark-gray: #232323;
  --medium-gray: #717580;
  --very-light-gray: #f7f7f7;
  --secondary: #004aad;
  --background-color: #ffffff;
  --text-color: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}